<h2> Hi <%= @critic.username %>!</h2>
<h3>Here are all of the Movie Reviews:</h3>

<% @reviews.each_with_index do |review, index| %>
  <div>
    <p>#<%= index+1 %>. <a href="/reviews/<%=review.id%>"><%= review.review_title %></a></p>
    <p>Genre: <%= review.review_genre %></p>
    <br>
  </div>
<% end %>

<a href="/reviews/new"> Add another Movie Review to your list </a><br>
<a href="/logout"> Log Out </a>
