<h2> Hi <%= @critic.username %>!</h2>
<br>
<h3>Here Are All Of Your Movie Reviews:</h3>
<br>
<% @reviews.each do |review| %>
  <div>
    <p>Name of Movie: <a href="/reviews/<%=review.id%>"><%= review.title %></a></p>
    <p>Genre: <%= review.genre %></p>
    <p>Description: <%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
  </div>
<% end %>

<a href="/reviews/new"> Add another Movie Review to your list </a><br>
<a href="/logout"> Log Out </a>
<br>
<br>
<br>

<h3>Movies Reviews Written By Other Critics:</h3>
<br>
<% Review.all.each do |review| %>
  <div>
    <!-- <%if review.title != nil && review.critic_id != @critic.id%> -->
      <p>Name of Movie: <%= review.title %></p>
      <p>Critic: <%=Critic.find(review.critic_id).username%></p>
      <p>Genre: <%= review.genre %></p>
      <p>Description: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
      <br>
    <!-- <%end%> -->
  </div>
<% end %>
